/*navbar*/
.logo{
    font-size: 25px;
    margin: 5px;
}
#navbar ul {
    margin: 10px 0;
}
#navbar ul li{
    font-size: 20px;
}
/*Home*/
#home{
    height: 450px;
}
.heading{
    font-size: 25px;
    padding: 15px;
}
.pic{
    width: 250px;
    height: auto;
}
.home-text{
    padding: 10px;
}
.home-text h1{
    font-size: 30px;
}
.home-text h3{
    font-size: 25px;
}
.home-text p{
    font-size: 20px;
}

/*About ME*/
#about{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#about img{
    width: 250px;
    height:auto;
}
.hero{
    display: flex;
    flex-direction: column;
}
.about-text{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}
.about-text h5{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}
.about-text p{
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
}
/*Portfolio*/
.gallary img{
    width: 400px;
    height: auto;
}
.gallary h1{
    font-size: 25px;
}

/*Contact*/
#contact h2{
    font-size: 25px;
    margin: 15px;
}
.icon i{
    margin: 15px;
    font-size: 50px;
}